@import 'nib'
@import 'map-measurement'

iconStyle(marginLeft)
  display: inline-block
  margin-left: marginLeft
  cursor: pointer

html, body
  padding: 0
  margin: 0
  font-family: sans-serif
  font-size: small

#map
  float: left
  width: 78%
  height: 100%
  position: absolute

#panel
  width: 20%
  height: 100%
  padding-left: 5px
  float: right

  .row
    border-bottom: 1px solid #000
    padding: 10px
    margin: 2px 0px 6px 0px
    text-align: center

    span
      font-size: 16px

    span:nth-child(2)
      padding-right: 10%

  .row-header
    text-align: center
    padding-bottom: 10px

    span
      font-size: 18px
      color: #ccc

    span:last-child
      padding-left: 10%

  .resultLength
    margin-top: 30px
    text-align: center
    font-size: 16px

.layer-switcher
  top: 1.5em

  .panel > ul > li:first-child
    display: none

  & button:focus
    outline: 0
