.tooltip
  position: relative
  background: rgba(0, 0, 0, 0.5)
  border-radius: 4px
  color: white
  padding: 4px 8px
  opacity: 0.7
  white-space: nowrap

.tooltip-measure
  opacity: 1
  font-weight: bold

.tooltip-static
  background-color: rgba(83, 194, 207, 0.9) //#ffcc33
  color: #000 //#fff
  border: 1px solid white

.tooltip-measure:before,
.tooltip-static:before
  border-top: 6px solid rgba(0, 0, 0, 0.5)
  border-right: 6px solid transparent
  border-left: 6px solid transparent
  content: ""
  position: absolute
  bottom: -6px
  margin-left: -7px
  left: 50%

.tooltip-static:before
  border-top-color: rgba(83, 194, 207, 0.9) //#ffcc33
